.before-dashboard {
  padding: 24px;

  &__banner {
    border-radius: 12px !important;
    margin-bottom: 16px !important;

    h4 {
      font-size: 18px !important;
      font-weight: 600 !important;
      margin: 0 !important;
    }
  }
}